.round {
    width: 150px;
    height: 150px;
    border: 90px;
    border-radius: 150px;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: yellowgreen;
}

#red {
    background-color: red;
}