body {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    /* чтобы контейнер был по центру */
    margin: 0 auto; 
    border: 1px solid red;
}

.header {
    border: 1px solid red;
}

.menu {
    padding: 0;
    margin: 24px 60px 0 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 1px solid red;
}

.menu li {

}